Lab1_Task1/matrix/__pycache__/**
Lab1_Task1/matrix/__pycache__/__init__.cpython-39.pyc
Lab1_Task1/matrix/__pycache__/rectangular_matrix.cpython-39.pyc
Lab1_Task2/picture/__pycache__**
Lab1_Task2/picture/__pycache__/__init__.cpython-39.pyc
Lab1_Task2/picture/__pycache__/picture.cpython-39.pyc
Lab1_Task3/__pycache__/**
Lab1_Task3/unsupervised/__pycache__/**
Lab1_Task3/unsupervised/__pycache__/SVD_np.cpython-39.pyc
Lab1_Task3/unsupervised/__pycache__/SVD.cpython-39.pyc
__pycache__
/Lab1_Task11/api/__pycache__
/Lab1_Task11/api/src/__pycache__
